.profile {
  max-width: 880px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px 0 0 0;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .profile {
    
  }
}

@media screen and (max-width: 700px) {
  .profile {
    
    
  }
}