.form__item {
  border: 0;
  max-width: 358px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin-top: 30px;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
 .form__item:first-of-type {
  margin-top: 54px;
 }