.popup__image-container {
  width: 63.75vw;
  height: 75vh;
  position: relative;
  display: flex;
}

@media screen and (max-width: 500px) {
  .popup__image-container {
    max-width: 240px;
    max-height: 299px;
  } 
}
