.element {
  max-width: 282px;
  min-height: 361px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 282px min-content;
  row-gap: 30px;
}
